:root {
    --side: 80px;
    font-size: 200%;
    font-family: Impact;
    color: black;
}

.board {
    background-color: rgb(16, 70, 141);
    height: 100vh;
    padding: 0;
    margin: 0;

    overflow-x: hidden; /* deals with the scroll bar / content */
    overflow-y: hidden; /* deals with the scroll bar / content */
    display: flexbox;
}

.startScreen {
    background-color: bisque;
    display: flex;
    justify-content: center;
    height: 100%;
}

.info {
    margin: 5%;
}

.button {
    width: 300px;
    height: 150px;
    margin: 5px;

    color: maroon;
    background: lightskyblue;
    font-size: 200%;
    font-family: Times New Roman;
    border: none;
}

#easyInfo {
    background-color:red;
}

#normalInfo {
    background-color: green;
}

#hardInfo {
    background-color: blue;
}

.main {
    display: none;
}

.navigation {
    background-color: white;
    padding: 0 auto;
    margin: 10px;
    border-radius: 20px;

    display: flex;
}

.auto {
    margin-left: 5%;
    align-self: center;
}

.list {
    list-style-type: none; /* gets rid of the bullet points */

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 60%;
}

.links {
    background-color: silver;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30%;

    margin-right: 1%;
}

.links > a {
    text-decoration: none; /* got rid of the underline */
    color: black; /* color of the link texts */
}

.box {
    width: var(--side);
    height: var(--side);
    background-color: rgb(255, 148, 172);
    border: 1px solid black;

    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    position: absolute;

    /* Change me! */
    top: 0px;
    left: 0px;
}

.endScreen {
    display: none;
    width: 600px;
    height: 200px;
    background-color: cyan;

    position: absolute;

    justify-items: center;

    overflow-y: hidden;
}

#endButton {
    width: 300px;
    height: 100px;


    background-color: orange;
    border: 2px solid pink;
    font-size: 150%;
    font-family: impact;
}