
.title {
  font-size: 200%;
  font-family: Impact;
  justify-self: center;
  align-self: center;
  margin-left: 40%;
}

nav {
  display: flex;
  margin-bottom: 2%;

  background-color: pink;
}

.nav-ul {
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: 2%;
}

.links {
  background-color: bisque;
  padding: 10px;
  border: 1px solid black;
  border-radius: 30%;

  justify-content: center;
  align-self: center;

  margin-right: 10%;
}

.links > a {
  text-decoration: none; /* gets rid of the underline */
  color: silver;
}

#fullContainer {
    width:100%;
}
#buttonContainer {
    margin:auto;
    width: 40%;
}
#goButton {
    margin: auto;
    width: 100%;
    border: 2px darkgray double;
    background: lightgray;
    font-size: 30px;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.subContainer {
    display: inline-block;
    width:45%;
    border: 4px forestgreen groove;
    margin-top: 1.25%;
}
#bubbleArea {
    margin-left: 2.5%;
}
#quickArea {
    margin-left: 3.75%;
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {
    position: relative;
}
.bubbleElement {
    background: url('img/bubble.png');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('img/quick.png');
    /*border: 2px firebrick ridge;*/
}