body {
  display: flex;
  align-self: center;
  margin: auto;
  margin-top: 5%;
  background-color: bisque;
}

canvas {
  display: flex;
  background-color: lightblue;
  margin: auto;
  padding: 0;
}

img {
  display: none;
}
